server:
  port: 8888
spring:
  application:
    name: steak-platform
  datasource:
    driver-class-name: org.postgresql.Driver
    username: bravos
    password: ${POSTGRES_PASSWORD}
    url: jdbc:postgresql://localhost:5432/steakdb
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none # <- cái này true bậy nha
    show-sql: true
    open-in-view: false # <- if true :: hieu xuat kem, giu ket noi db lau
  data:
    mongodb:
      uri: mongodb://localhost:27017/
      username: root
      password: ${MONGO_PASSWORD}
      database: steaknosql
      authentication-database: admin
    redis:
      host: localhost
      port: 6379
      connect-timeout: 30000
      database: 0