name: CI - Build and Deploy Spring Boot

on:
  push:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build docker image
        run: |
          docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_PASSWORD }}
          docker build -t bravos/steak-server:latest .
          docker push bravos/steak-server:latest

      - name: Deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            curl -sSf https://atlasgo.sh | sh -s -- -y
            rm -rf SteakPlatform-Backend/
            git clone --depth=1 https://github.com/Bravos-Team/SteakPlatform-Backend
            docker stop steak-server || true
            docker rm steak-server || true
            cd SteakPlatform-Backend && atlas migrate apply --dir "file://migrations" --url "${{ secrets.POSTGRES_URL }}"
            docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_PASSWORD }}
            docker pull bravos/steak-server:latest
            docker run --memory="1.5g" -d -p 8888:8888 --name steak-server \
              -e AZURE_CLIENT_ID=${{ secrets.AZURE_CLIENT_ID }} \
              -e AZURE_CLIENT_SECRET=${{ secrets.AZURE_CLIENT_SECRET }} \
              -e AZURE_TENANT_ID=${{ secrets.AZURE_TENANT_ID }} \
              -e VAULT_URL=${{ secrets.VAULT_URL }} \
              -e SPRING_PROFILES_ACTIVE=prod \
              bravos/steak-server:latest
            sleep 10
            docker ps | grep steak-server || (echo "Container failed to start" && exit 1)
          
