name: Build and Deploy Spring Boot

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build docker image
        run: |
          docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_PASSWORD }}
          docker build -t bravos/steak-server:latest .
          docker push bravos/steak-server:latest

  push-migration:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:15
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Atlas
        uses: ariga/setup-atlas@v0
        with:
          cloud-token: ${{ secrets.ATLAS_TOKEN }}

      - name: Push migration
        uses: ariga/atlas-action/migrate/push@v1
        with:
          dir: 'file://migrations'
          dir-name: 'steak'
          dev-url: 'postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable'

  deploy:
    runs-on: ubuntu-latest
    needs: [build,push-migration]
    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            docker stop steak-server || true
            docker rm steak-server || true
            
            curl -sSf https://atlasgo.sh | sh -s -- -y
            atlas login --token "${{ secrets.ATLAS_TOKEN }}"
            atlas migrate apply --dir atlas://steak --url ${{ secrets.POSTGRES_URL }}
            
            docker login --username ${{ secrets.DOCKER_USERNAME }} --password ${{ secrets.DOCKER_PASSWORD }}
            docker pull bravos/steak-server:latest
            docker run -d -p 8888:8888 --name steak-server \
              -e AZURE_CLIENT_ID=${{ secrets.AZURE_CLIENT_ID }} \
              -e AZURE_CLIENT_SECRET=${{ secrets.AZURE_CLIENT_SECRET }} \
              -e AZURE_TENANT_ID=${{ secrets.AZURE_TENANT_ID }} \
              -e VAULT_URL=${{ secrets.VAULT_URL }} \
              -e SPRING_PROFILES_ACTIVE=prod \
              bravos/steak-server:latest
            sleep 30
            docker ps | grep steak-server || (echo "Container failed to start" && exit 1)
    

